<%- include('partials/_header') -%>

    <div class='error-page'>
        <h1> No call no show</h1>
        <p> Our servers were out late last night and can't find what you were looking for</p>
        <img id='error-img' src="/imgs/404.svg" alt="404 Error Page Not Found">
    </div>


    <%- include('partials/_footer') -%>