<%- include('partials/EN/_header') -%>
    <main id="main">
        <section class="d-flex align-items-center">
            <div class="container">
                <div class="col-md-8 pt-5 coming-soon" data-aos="fade-up">
                    <h1> Features </h1>
                </div>

                <div class="container contact pb-4 " data-aos="fade-up">
                    
            <div class = 'video-features'>
                <!-- Search Salaries -->
                <h4 class ='text-center'> Browse & Filter Salaries </h4>
                <iframe width="624" height="315" src="https://www.youtube.com/embed/MetXXRErT7E?controls=0" title="Browse & Filter Salaries" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
                 <!-- Track Your Earnings-->
                 <h4 class ='text-center'> Track Your Earnings </h4>
                 <iframe width="624" height="315" src="https://www.youtube.com/embed/MedalVB7YoU?controls=0" title="Track Your Earnings" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 
                <!-- Share Your Salary-->
                <h4 class ='text-center'> Share Your Salary </h4>
                <iframe width="624" height="315" src="https://www.youtube.com/embed/wHaVyWeYNFQ?controls=0" title="Share Your Salary " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
                <!-- Verify Your Earnings -->
                <h4 class ='text-center'> Verify Your Salary </h4>
                <iframe width="624" height="315" src="https://www.youtube.com/embed/tyWr4R2CBLI?controls=0" title="Verify Your Salary" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

                

                    <div class="section-title">
                        <h2>Feature Request</h2>
                        <form action=" https://formsubmit.co/2132c172bc729286ba7d2c33efc1eb64" method="post"
                            class="contact-form">
                            <!-- Submission Email Subject-->
                            <input type="hidden" name="_subject" value="Bread: Feature Request">

                            <!-- Hide Captcha-->
                            <input type="hidden" name="_captcha" value="false">

                            <!-- Honeypot -->
                            <input type="text" name="_honey" style="display:none">

                            <!-- On Submission-->
                            <input type="hidden" name="_next" value="http://www.86bread.com/features">

                            <div>
                                <div class="form-group">
                                    <input placeholder="Your Name" type="text" name="name" class="form-control"
                                        id="name" required>
                                </div>

                                <div class="form-group mt-3">
                                    <input placeholder="Your Email" type="email" class="form-control" name="email"
                                        id="email" required>
                                </div>

                                <div class="form-group mt-3">
                                    <input placeholder="Subject" type="text" class="form-control" name="subject"
                                        id="subject" required>
                                </div>
                                <div class="form-group mt-3">
                                    <textarea placeholder="Message" class="form-control" name="message" rows="5"
                                        required></textarea>
                                </div>

                                <div class="text-center"><button type="submit">Send Message</button></div>
                                </form>
                            </div>
                    </div>
                    <!-- End Contact Section -->



                </div>
        </section>





    </main>
    <!-- End #main -->





    <%- include('partials/EN/_footer') -%>