<%- include('partials/_header') -%>

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
                    data-aos="fade-up">
                    <div>
                        <h1>Pay transparency for the hospitality industry</h1>

                        <h2>bread is a free resource for reviewing and sharing salary information. Our goal is to
                            increase
                            transparency surrounding earnings in the hospitality community.
                        </h2>

                        <a href="#main" class="download-btn"><i class="bi bi-info-circle"></i> Learn More</a>
                        <a href="/signup" class="download-btn"><i class="bi bi-person-plus"></i> Sign Up </a>
                    </div>
                </div>

                <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img"
                    data-aos="fade-up">
                    <img src="/imgs/hero-img.svg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero -->
    <main id="main">

        <!-- APp features was here -->


        <!-- ======= Details Section ======= -->

        <section id="details" class="details">
            <div class="container">

                <div class="row content">
                    <div class="col-md-4" data-aos="fade-right">
                        <img src="/imgs/details-2.svg" class="img-fluid" alt="">
                    </div>

                    <div class="col-md-8 pt-4" data-aos="fade-up">
                        <h2>Needs work</h2>
                        <h3> We need to talk about pay in the hospitality industry </h3>
                        <p>Pay ambiguity is a large problem in the hospitality industry but it doesn't have to be.
                        </p>
                        <p> Employees spend time applying for jobs, Interviewing, trailing, and training before ever
                            knowing what they can expect to earn.</p>
                        <p> There is often no way for a future employee to financially
                            plan for their life as employers either don't share compensation data or falsely inflate it.
                        </p>


                        <ul>
                            <li><i class="bi bi-check"></i> Workload and compensation is unclear.
                            </li>
                            <li><i class="bi bi-check"></i> Switching jobs is extremely costly.
                            </li>

                            <li><i class="bi bi-check"></i> Large pay gaps
                            </li>

                        </ul>




                    </div>
                </div>

                <!-- ======= App Features Section ======= -->
                <span id="tscroll"></span>
                <section id="features" class="features">
                    <div class="container pt-5">

                        <div class="row no-gutters">
                            <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
                                <div class="content d-flex flex-column justify-content-center">
                                    <div class="row">
                                        <h3>With bread you can</h3>
                                        <div class="col-md-6 icon-box" data-aos="fade-up">
                                            <i class="bi bi-clock"></i>
                                            <h4>Save time
                                            </h4>
                                            <p>Don't waste your time applying, interviewing, or trailing before you know
                                                what
                                                you
                                                will earn.</p>
                                        </div>

                                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                                            <i class="bi bi-cash-stack"></i>
                                            <h4>Reduce pay gaps</h4>
                                            <p>Studies show that salary transparency can narrow different pay gaps</p>
                                        </div>



                                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                            <!-- <i class="bx bx-cube-alt"></i> -->
                                            <i class="bx bx-bar-chart-alt-2
             "></i>
                                            <h4>Compare Job Offers</h4>
                                            <p> Knowing what you will earn on the job allows your to financially plan
                                                for
                                                your
                                                life
                                            </p>
                                        </div>




                                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                            <i class="bx bx-task"></i>
                                            <h4> View verified salaries</h4>
                                            <p> Salaries can be submitted with proof such as paystub or tip sheets.</p>
                                        </div>

                                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                            <i class="bx bx-low-vision"></i>
                                            <h4>Share anonymously</h4>
                                            <p> We will never ask for or share your personal details. </p>
                                        </div>

                                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                                            <i class="bx 24 x 24 bx-donate-heart"></i>
                                            <h4>Help your community</h4>
                                            <p> By sharing your pay, you are helping others make informed decisions</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2"
                                data-aos="fade-left" data-aos-delay="100">


                                <img src="/imgs/details-1.svg" class="img-fluid" alt="">

                            </div>
                        </div>

                    </div>
                </section>
                <!-- End App Features Section -->






                <div class="row content">
                    <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                        <img src="/imgs/details-3.svg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                        <h3>Pay transparency is good for everyone</h3>


                        <p>

                        </p>

                        <p class="fst-italic">
                            "Across the board, salary transparency helps eliminate asymmetric information
                            problems that can contribute to the gender wage gap, racial wage issues and the labor
                            market."
                        </p>


                        <ul>
                            <li><i class="bi bi-check"></i> Women who work full-time in the US still <a
                                    href="https://www.census.gov/library/stories/2022/03/what-is-the-gender-wage-gap-in-your-state.html">only
                                    earn around
                                    83% of what men do.</a>
                            </li>
                            <li><i class="bi bi-check"></i> More people are now
                                <a
                                    href="https://www.bankrate.com/banking/federal-reserve/younger-workers-sharing-salaries">
                                    openly sharing </a> their salaries with their colleagues.
                            </li>

                            <li><i class="bi bi-check"></i> <a
                                    href="https://pequity.com/blog/pay-transparency-in-2022-which-states-require-employers-to-provide-salary-ranges%EF%BF%BC/">
                                    Many states</a> are now requiring employers to share compensation data.
                            </li>


                        </ul>
                    </div>
                </div>

                <div class="row content">
                    <div class="col-md-4" data-aos="fade-right">
                        <img src="/imgs/details-4.svg" class="img-fluid" alt="">


                    </div>
                    <div class="col-md-8 pt-5" data-aos="fade-up">
                        <h3>Share anonymously</h3>
                        <ul>
                            <li><i class="bi bi-check"></i> It takes less than 60 seconds to submit your salary
                                anonymously and help others.
                            </li>
                            <li><i class="bi bi-check"></i> Each person who shares is doing their part in transforming
                                the hospitality industry.
                            </li>

                            <li><i class="bi bi-check"></i> Knowing what others get paid affords everyone the
                                opportunity
                                to be paid equitably.

                            </li>
                            <li><i class="bi bi-check"></i> We currently have <%= posts.length%> salaries shared from
                                    people just like you. <a href="/signup"> Create an account </a> to check them out!

                            </li>
                        </ul>

                    </div>
                </div>

                <div class="row content">
                    <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                        <img src="/imgs/details-5.svg" class="img-fluid" alt="">

                    </div>

                    <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                        <h3>Benefits for companies</h3>

                        <ul>
                            <li><i class="bi bi-check"></i> <strong> Decreased hiring and training expenses </strong>
                            </li>
                            <li>
                                You will not waste time interviewing candidates who will not accept a salary in your
                                budget.
                                New
                                hires may leave your company if they learn they won't be earning
                                enough.
                            </li>
                            <li><i class="bi bi-check"></i> <strong> Increased employee job performance </strong></li>
                            <li> Pay transparency has been shown to have a positive effect on job satisfaction, employee
                                engagement,
                                and productivity.</li>
                            <li><i class="bi bi-check"></i> <strong> Reduced wage bias</strong></li>
                            <p>By sharing pay information openly, organisations are far more likely to correct any
                                salary
                                inequality and explore the reasons behind it.</p>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Details Section -->


        <!-- ======= Gallery Section ======= -->
        <!-- FIX BELOW 
        <section id="gallery" class="gallery">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Gallery</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
                        sint
                        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
                        Quia
                        fugiat sit
                        in iste officiis commodi quidem hic quas.</p>
                </div>

            </div>

            <div class="container-fluid" data-aos="fade-up">
                <div class="gallery-slider swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><a href="/imgs/gallery/gallery-1.png" class="gallery-lightbox"
                                data-gall="gallery-carousel"><img src="/imgs/gallery/gallery-1.png" class="img-fluid"
                                    alt=""></a>
                        </div>
                        <div class="swiper-slide"><a href="/imgs/gallery/gallery-2.png" class="gallery-lightbox"
                                data-gall="gallery-carousel"><img src="/imgs/gallery/gallery-2.png" class="img-fluid"
                                    alt=""></a>
                        </div>
                        <div class="swiper-slide"><a href="/imgs/gallery/gallery-3.png" class="gallery-lightbox"
                                data-gall="gallery-carousel"><img src="/imgs/gallery/gallery-3.png" class="img-fluid"
                                    alt=""></a>
                        </div>
                        <div class="swiper-slide"><a href="/imgs/gallery/gallery-4.png" class="gallery-lightbox"
                                data-gall="gallery-carousel"><img src="/imgs/gallery/gallery-4.png" class="img-fluid"
                                    alt=""></a>
                        </div>
                        <div class="swiper-slide"><a href="/imgs/gallery/gallery-5.png" class="gallery-lightbox"
                                data-gall="gallery-carousel"><img src="/imgs/gallery/gallery-5.png" class="img-fluid"
                                    alt=""></a>
                        </div>
                        <div class="swiper-slide"><a href="/imgs/gallery/gallery-6.png" class="gallery-lightbox"
                                data-gall="gallery-carousel"><img src="/imgs/gallery/gallery-6.png" class="img-fluid"
                                    alt=""></a>
                        </div>
                        <div class="swiper-slide"><a href="/imgs/gallery/gallery-7.png" class="gallery-lightbox"
                                data-gall="gallery-carousel"><img src="/imgs/gallery/gallery-7.png" class="img-fluid"
                                    alt=""></a>
                        </div>
                        <div class="swiper-slide"><a href="/imgs/gallery/gallery-8.png" class="gallery-lightbox"
                                data-gall="gallery-carousel"><img src="/imgs/gallery/gallery-8.png" class="img-fluid"
                                    alt=""></a>
                        </div>
                        <div class="swiper-slide"><a href="/imgs/gallery/gallery-9.png" class="gallery-lightbox"
                                data-gall="gallery-carousel"><img src=/imgs/gallery/gallery-9.png" class="img-fluid"
                                    alt=""></a>
                        </div>
                        <div class="swiper-slide"><a href="/imgs/gallery/gallery-10.png" class="gallery-lightbox"
                                data-gall="gallery-carousel"><img src="/imgs/gallery/gallery-10.png" class="img-fluid"
                                    alt=""></a>
                        </div>
                        <div class="swiper-slide"><a href="/imgs/gallery/gallery-11.png" class="gallery-lightbox"
                                data-gall="gallery-carousel"><img src="/imgs/gallery/gallery-11.png" class="img-fluid"
                                    alt=""></a>
                        </div>
                        <div class="swiper-slide"><a href="/imgs/gallery/gallery-12.png" class="gallery-lightbox"
                                data-gall="gallery-carousel"><img src="/imgs/gallery/gallery-12.png" class="img-fluid"
                                    alt=""></a>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section>
        <!-- End Gallery Section -->




        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container pt-5" data-aos="fade-up">

                <div class="section-title">
                    <h2>Frequently Asked Questions</h2>
                </div>

                <div class="accordion-list">
                    <ul>
                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                                data-bs-target="#accordion-list-1">What is pay transparency?<i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                <p>
                                    Pay transparency is the practice of companies or individuals sharing compensation
                                    details to be
                                    visible to
                                    other people.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#accordion-list-2" class="collapsed">Can my employer prohibit me from
                                sharing my salary?
                                <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Hell no! In most cases at least. It is illegal to prevent employees from discussing
                                    wage
                                    and benefit
                                    offers. The national labor relations board has made this clear that it’s a workers
                                    right
                                    to discuss
                                    wages. In fact, many states are passing laws requiring employers to post salary
                                    ranges.
                                    Only share
                                    what you are
                                    comfortable sharing and check the laws in your area.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#accordion-list-3" class="collapsed"> How accurate are these wages? <i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Wages can be submitted one of two ways: verified or unverified. Wages marked
                                    'verified'
                                    have been
                                    submitted with supplemental information such as
                                    paystubs, W2s, or bank deposits. That being said wages are submitted anonymously by
                                    users and for that
                                    reason, there is a chance that they could be
                                    misrepresented.

                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#accordion-list-4" class="collapsed"> How are you preventing fake wages
                                from
                                being
                                posted? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    First, we hope noone is doing this. This is a resource to help everyone. If we have
                                    reason to believe
                                    a listing is fake, flag it and we will reach out to the user for more information or
                                    remove the
                                    listing.
                                    Additionally if you suspect a listing to be inaccurate let us know.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#accordion-list-5" class="collapsed">Is this anonymous? <i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    bread is 100% anonymous. The wages that you submit may be modified
                                    slightly to further protect your identity.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#accordion-list-6" class="collapsed">How long does it take to submit my
                                earnings? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-6" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    You can submit your earnings in under 60 seconds.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#accordion-list-7" class="collapsed"> How do I submit a verified salary?
                                <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-7" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Soon you will be able to submit your salary along with supplemental information such
                                    as W2s, Paystubs, or Tip
                                    sheets.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </section><!-- End Frequently Asked Questions Section -->

        <!-- ======= Contact Section ======= -->
        <!-- <section id="contact" class="contact d-flex justify-content-center"> -->
        <section id="contact" class="contact">

            <div class="container pt-4" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p> Want to know more? Have ideas on how this can be improved? Just want to say hello?</p>
                </div>


                <form action="https://formsubmit.co/2132c172bc729286ba7d2c33efc1eb64" method="post"
                    class="contact-form">
                    <!-- Submission Email Subject-->
                    <input type="hidden" name="_subject" value="Bread: Contact Message">

                    <!-- Hide Captcha-->
                    <input type="hidden" name="_captcha" value="false">

                    <!-- Honeypot -->
                    <input type="text" name="_honey" style="display:none">

                    <!-- On Submission-->
                    <input type="hidden" name="_next" value="https://www.williampasternak.com/">

                    <div>
                        <div class="form-group">
                            <input placeholder="Your Name" type="text" name="name" class="form-control" id="name"
                                required>
                        </div>

                        <div class="form-group mt-3">
                            <input placeholder="Your Email" type="email" class="form-control" name="email" id="email"
                                required>
                        </div>

                        <div class="form-group mt-3">
                            <input placeholder="Subject" type="text" class="form-control" name="subject" id="subject"
                                required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea placeholder="Message" class="form-control" name="message" rows="5"
                                required></textarea>
                        </div>

                        <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>
        </section>
        <!-- End Contact Section -->

    </main>
    <!-- End #main -->
    <%- include('partials/_footer') -%>