<%- include('partials/EN/_header') -%>

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
                    data-aos="fade-up">
                    <div>
                        <div class="flipping">
                            <div class="container">
                                <h1>
                                    Pay transparency for
                                    <div class="words">
                                        <p>Line Cooks</p>
                                        <p>Bussers</p>
                                        <p>Bartenders</p>
                                        <p>Dishwashers</p>
                                        <p>Bakers</p>
                                        <p>Barbacks</p>
                                        <p>Servers</p>
                                        <p>Sommeliers</p>
                                        <p>Runners</p>
                                        <p>Polishers</p>
                                        <p>Hosts</p>
                                        <p>Porters</p>
                                        <p>Chefs</p>
                                    </div>
                                    <p class='final'>everyone</p>
                                </h1>
                            </div>
                        </div>


                        <h2 id='description'> We offer a free resource for reviewing and sharing salary
                            information for
                            individuals in
                            the hospitality
                            community. It is crowd-sourced and completely anonymous.</h2>

                        <a href="#main" class="download-btn"><i class="bi bi-info-circle"></i> Learn
                            More</a>

                        <!-- Toggled Button Appearance-->

                        <%if(!user){ %>
                            <a href="/signup" class="download-btn"><i class="bi bi-person-plus"></i>
                                Sign Up
                            </a>
                            <%}%>

                                <%if(user){ %>
                                    <a href="/feed" class="download-btn"><i class="bi bi-search"></i>
                                        View Salaries
                                    </a>
                                    <%}%>


                                        <!-- End Button Toggle-->
                    </div>
                </div>



                <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img"
                    data-aos="fade-up">
                    <img src="/imgs/hero-img.svg" class="img-fluid"
                        alt="Two restaurant servers. Server on left is taking an order. Server on right is holding a tray.">
                </div>
            </div>
        </div>
    </section>
    <!-- ======= End Hero ======= -->

    <main id="main">
        <section id="details" class="details">
            <div class="container">

                <!-- ======= Section One ======= -->
                <div class="row content">
                    <div class="col-md-4" data-aos="fade-right">
                        <img src="/imgs/talking.svg" class="img-fluid"
                            alt="One person talking and three others listening">
                    </div>

                    <div class="col-md-8 pt-4" data-aos="fade-up">
                        <h3> We need to talk about pay in the hospitality industry </h3>
                        <ul>
                            <li><i class="bi bi-check"></i> Workload and compensation are unclear and inconsistent.
                            </li>

                            <li><i class="bi bi-check"></i> Switching jobs can be extremely costly.
                            </li>

                            <li><i class="bi bi-check"></i> Large pay gaps exist across companies and positions.
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- ======= End Section One ======= -->



                <!-- ======= Section Two ======= -->
                <div class="row content">
                    <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                        <img src="/imgs/charts.svg" class="img-fluid" alt="Two people looking at charts and bar graphs">
                    </div>

                    <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                        <h3>Pay transparency is good for everyone</h3>

                        <p class="fst-italic">
                            "Across the board, salary transparency helps eliminate asymmetric information
                            problems that can contribute to the gender wage gap, racial wage issues and the labor
                            market."
                        </p>


                        <ul>
                            <li><i class="bi bi-check"></i> Women who work full-time in the US still <a
                                    href="https://www.census.gov/library/stories/2022/03/what-is-the-gender-wage-gap-in-your-state.html">only
                                    earn around
                                    83% of what men do.</a>
                            </li>
                            <li><i class="bi bi-check"></i> More people are now
                                <a
                                    href="https://www.bankrate.com/banking/federal-reserve/younger-workers-sharing-salaries">
                                    openly sharing </a> their salaries with their colleagues.
                            </li>

                            <li><i class="bi bi-check"></i> <a
                                    href="https://pequity.com/blog/pay-transparency-in-2022-which-states-require-employers-to-provide-salary-ranges%EF%BF%BC/">
                                    Many states</a> now require employers to share compensation data.
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- ======= End Section Two ======= -->

                <!-- ======= Section Three ======= -->
                <div class="row content">
                    <div class="col-md-4" data-aos="fade-right">
                        <img src="/imgs/arrow.svg" class="img-fluid"
                            alt="Three people holding an upward business graphic arrow">
                    </div>

                    <div class="col-md-8 pt-4" data-aos="fade-up">
                        <h3> Benefits for individuals</h3>
                        <ul>
                            <li><i class="bi bi-check"></i> <strong> Ensure you are being paid fairly </strong></li>
                            <li> Be paid for the job you are doing. Equal pay for equal work. </li>
                            <li><i class="bi bi-check"></i> <strong> Allows you to advocate for yourself </strong>
                            </li>
                            <li>
                                Seeing what others are earning evens the playing field when it comes to asking for what
                                you want.
                            </li>
                            <li><i class="bi bi-check"></i> <strong> Allows you to make financial decisions for yourself
                                    and family</strong></li>
                            <p> You will not waste time applying, interviewing, trailing and training before finding out
                                what you will earn. </p>
                        </ul>
                    </div>
                </div>
                <!-- ======= End Section Three ======= -->

                <!-- =======  Section Four ======= -->
                <div class="row content">
                    <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                        <img src="/imgs/clipboard.svg" class="img-fluid" alt="Clipboard with paper and check marks">

                    </div>

                    <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                        <h3>Benefits for companies</h3>

                        <ul>
                            <li><i class="bi bi-check"></i> <strong> Decreased hiring and training expenses </strong>
                            </li>
                            <li>
                                You will not waste time interviewing candidates who will not accept a salary in your
                                budget.
                                New
                                hires may leave your company if they learn they won't be earning
                                enough.
                            </li>
                            <li><i class="bi bi-check"></i> <strong> Increased employee job performance </strong></li>
                            <li> Pay transparency has been shown to have a positive effect on job satisfaction, employee
                                engagement,
                                and productivity.</li>
                            <li><i class="bi bi-check"></i> <strong> Reduced wage bias</strong></li>
                            <p>By sharing pay information openly, organizations are far more likely to correct any
                                salary
                                inequality and explore the reasons behind it.</p>
                        </ul>
                    </div>
                </div>
                <!-- ======= End Section Four ======= -->

                <!-- ======= Section Five ======= -->
                <div class="row content">
                    <div class="col-md-4" data-aos="fade-right">
                        <img src="/imgs/laptop.svg" class="img-fluid" alt="Person typing on laptop">
                    </div>

                    <div class="col-md-8 pt-5" data-aos="fade-up">
                        <h3>Share your salary anonymously</h3>
                        <ul>
                            <li><i class="bi bi-check"></i> It takes less than 60 seconds to submit your salary
                                anonymously and help others.
                            </li>
                            <li><i class="bi bi-check"></i> Each person who shares is doing their part in transforming
                                the hospitality industry.
                            </li>

                            <li><i class="bi bi-check"></i> Knowing what others get paid affords everyone the
                                opportunity
                                to be paid equitably.

                            </li>
                            <li><i class="bi bi-check"></i> We currently have <%= posts.length%> salaries shared from
                                    people just like you. <a href="/signup"> Create an account </a> to check them out!

                            </li>
                        </ul>

                    </div>
                </div>
                <!-- ======= End Section Five ======= -->
            </div>
        </section>

        <!-- ======= Section Six ======= -->
        <span id="tscroll"></span>
        <section id="features" class="features pt-5">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
                        <div class="content d-flex flex-column justify-content-center">
                            <div class="row">

                                <h3>Pay ambiguity is a large problem in the hospitality industry but it doesn't have to
                                    be</h3>
                                <div class="col-md-6 icon-box" data-aos="fade-up">
                                    <i class="bi bi-clock"></i>
                                    <h4>Save time
                                    </h4>
                                    <p>Don't waste your time applying, interviewing, or trailing before you know
                                        what
                                        you
                                        will earn.</p>
                                </div>

                                <!-- Icons -->
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                                    <i class="bi bi-cash-stack"></i>
                                    <h4>Reduce pay gaps</h4>
                                    <p>Studies show that salary transparency can narrow different pay gaps</p>
                                </div>

                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                    <i class="bx bx-bar-chart-alt-2"></i>
                                    <h4>Compare Job Offers</h4>
                                    <p> Knowing what you will earn on the job allows your to financially plan
                                        for
                                        your
                                        life
                                    </p>
                                </div>

                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                    <i class="bx bx-task"></i>
                                    <h4> View verified salaries</h4>
                                    <p> Salaries can be submitted with proof such as paystub or tip sheets.</p>
                                </div>

                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                    <i class="bx bx-low-vision"></i>
                                    <h4>Share anonymously</h4>
                                    <p> We will never ask for or share your personal details. </p>
                                </div>

                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                                    <i class="bx 24 x 24 bx-donate-heart"></i>
                                    <h4>Help your community</h4>
                                    <p> By sharing your pay, you are helping others make informed decisions</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2"
                        data-aos="fade-left" data-aos-delay="100">

                        <img src="/imgs/piggybank.svg" class="img-fluid"
                            alt="A piggy bank with coins falling around it">
                    </div>
                </div>
            </div>
            <div class='d-flex justify-content-center'>

                <!-- View Salaries (If Logged In)-->
                <%if(user){ %>
                    <a href="/feed" class="download-btn"><i class="bi bi-search"></i>
                        View Salaries
                    </a>
                    <%}%>


            </div>
        </section>
        <!-- ======= End Section Six ======= -->

        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container pt-3" data-aos="fade-up">

                <div class="section-title">
                    <h2>Frequently Asked Questions</h2>
                </div>

                <div class="accordion-list">
                    <ul>
                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                                data-bs-target="#accordion-list-1">What is pay transparency?<i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                <p>
                                    Pay transparency is the practice of companies or individuals sharing compensation
                                    details to be
                                    visible to
                                    other people.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#accordion-list-2" class="collapsed">Can my employer prohibit me from
                                sharing my salary?
                                <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Hell no! In most cases at least. It is illegal to prevent employees from discussing
                                    wage
                                    and benefit
                                    offers. The national labor relations board has made this clear that it’s a workers
                                    right
                                    to discuss
                                    wages. In fact, many states are passing laws requiring employers to post salary
                                    ranges.
                                    Only share
                                    what you are
                                    comfortable sharing and check the laws in your area.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#accordion-list-3" class="collapsed"> How accurate are these wages? <i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Wages can be submitted one of two ways: verified or unverified. Wages marked
                                    'verified'
                                    have been
                                    submitted with supplemental information such as
                                    paystubs, W2s, or tipsheets. That being said wages are submitted anonymously by
                                    users and for that
                                    reason, there is a chance that they could be
                                    misrepresented.

                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#accordion-list-4" class="collapsed"> How are you preventing fake wages
                                from
                                being
                                posted? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    First, we hope noone is doing this. This is a resource to help everyone. If you have
                                    reason to believe
                                    a listing is fake, flag it and we will reach out to the user for more information or
                                    remove the
                                    listing.

                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#accordion-list-5" class="collapsed">Is this anonymous? <i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    bread is 100% anonymous. The wages that you submit may be modified
                                    slightly to further protect your identity.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#accordion-list-6" class="collapsed">How long does it take to submit my
                                earnings? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-6" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    You can submit your earnings in under 60 seconds.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#accordion-list-7" class="collapsed"> How do I submit a verified salary?
                                <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-7" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    To submit a verified salary go to the Verify Your Salary page and upload
                                    supplemental information such
                                    as W2s, Paystubs, or Tip
                                    sheets.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#accordion-list-8" class="collapsed"> How can I help?
                                <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-8" class="collapse" data-bs-parent=".accordion-list">
                                    <p><strong>Spread The Word:</strong> The more people that use bread the better the platform becomes. </p>
                                    <p><strong>Report Bugs:</strong> If you see any problems with the site, fill out the contact form below. </p>
                                    <p> <strong>Native Language Translations:</strong> Review existing translations or providing translations for new languages you would like to see supported. </p>
                            </div>
                        </li>
                        
                    </ul>
                </div>

            </div>
        </section>
        <!-- End Frequently Asked Questions Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">

            <div class="container pt-4" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p> Want to know more? Have ideas on how this can be improved? Just want to say hello?</p>
                </div>


                <form action="https://formsubmit.co/7866f0e89aaaa3994abaefce9846ab7c" method="post"
                class="contact-form">
                    <!-- Submission Email Subject-->
                    <input type="hidden" name="_subject" value="Bread: Contact Message">

                    <!-- Hide Captcha-->
                    <input type="hidden" name="_captcha" value="false">

                    <!-- Honeypot -->
                    <input type="text" name="_honey" style="display:none">

                    <!-- On Submission-->
                    <input type="hidden" name="_next" value="http://www.86bread.com/">

                    <div>
                        <div class="form-group">
                            <input placeholder="Your Name" type="text" name="name" class="form-control" id="name"
                                required>
                        </div>

                        <div class="form-group mt-3">
                            <input placeholder="Your Email" type="email" class="form-control" name="email" id="email"
                                required>
                        </div>

                        <div class="form-group mt-3">
                            <input placeholder="Subject" type="text" class="form-control" name="subject" id="subject"
                                required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea placeholder="Message" class="form-control" name="message" rows="5"
                                required></textarea>
                        </div>

                        <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>
        </section>
        <!-- End Contact Section -->

      <!-- ======= Donate Section ======= -->
      <section id="donate" class ='contact'>
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h3>Donate</h3>
                <h4>Donations are appreciated but not necessary.</h4>
                <p>If you find bread has brought you value and you have the means, please consider a small donation to help cover costs associated with running this service. </p>
               <a href="https://www.buymeacoffee.com/breadapp">One time Donations</a> |
               <a href="https://www.patreon.com/86bread">Recurring Donations</a> 
            </div>
        </div>
    </section>
    <!-- Donate Ends-->

    </main>
    <!-- End #main -->

    <%- include('partials/EN/_footer') -%>