<%- include('partials/header') -%>

  <main class="container">
    <div class="row justify-content-center">
      <section class="col-6 mt-5">
        <% if (locals.messages.errors) { %>
          <% messages.errors.forEach( el=> { %>
            <div class="alert alert-danger">
              <%= el.msg %>
            </div>
            <% }) %>
              <% } %>
                <% if (locals.messages.info) { %>
                  <% messages.info.forEach( el=> { %>
                    <div class="alert alert-info">
                      <%= el.msg %>
                    </div>
                    <% }) %>
                      <% } %>

                        <h1> Log in</h1>
                        <form action="/login" method="POST">

                          <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="email" name="email"
                              autofocus />
                          </div>

                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" name="password" />
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <p class="text-center">Not a member? <a data-toggle="tab" href="/signup">Sign Up</a></p>
      </section>

    </div>
  </main>


  <%- include('partials/footer') -%>