<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>Suscríbete</h4>
                    <form action="https://formsubmit.co/2132c172bc729286ba7d2c33efc1eb64" method="post">
                        <!-- Submission Email Subject-->
                        <input type="hidden" name="_subject" value="Bread: Subscription Request">

                        <!-- Hide Captcha-->
                        <input type="hidden" name="_captcha" value="false">

                        <!-- Honeypot -->
                        <input type="text" name="_honey" style="display:none">

                        <!-- On Submission-->
                        <input type="hidden" name="_next" value="http://www.86bread.com/">

                        <input type="email" name="email"><input type="submit" value="Suscríbete">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="copyright">
            &copy; Derechos de Autor
            <strong><span> <a href='http://www.williampasternak.com'> William Pasternak
                    </a></span></strong> Reservados todos los derechos |
            <a href="https://storyset.com/people">Ilustraciones de Storyset</a>
        </div>
    </div>

</footer>
<!-- End Footer -->

<!-- Vendor JS Files -->
<script src="vendor/aos/aos.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="js/main.js"></script>
</body>

</html>