<%- include('../partials/ES/_header') -%>

    <div class='error-page'>
        <div>
            <h1> Sin llamar ni avisar </h1>
            <p> Nuestros servidores estuvieron fuera hasta tarde anoche y no pudieron encontrar lo que buscabas </p>
        </div>
        <div>
            <img id='error-img' src="/imgs/404.svg" alt="Error 404 Página no encontrada">
        </div>
    </div>

    <%- include('../partials/ES/_footer') -%>