<%- include('../partials/_header') -%>

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
                    data-aos="fade-up">
                    <div>
                        <div class="flipping">
                            <div class="container">
                                <h1>
                                    Transparencia para
                                    <div class="words">
                                        <p>Cocineros de Línea </p>
                                        <p>Camarero</p>
                                        <p>Lava Trastes</p>
                                        <p>Panaderos</p>
                                        <p>Ayudantes</p>
                                        <p>Meseros</p>
                                        <p>Corredores</p>
                                        <p>La Recepción </p>
                                        <p>Porteros</p>
                                        <p>Jefe de Cocina</p>
                                    </div>
                                    <p class='final'>todos</p>
                                </h1>
                            </div>
                        </div>


                        <h2 id='description'> Ofrecemos un recurso gratuito para revisar y compartir el sueldo
                            información para
                           las personas 
                            en la comunidad de
                            la hostelería. Se trata de una fuente colectiva y completamente anónima.</h2>

                        <a href="#main" class="download-btn"><i class="bi bi-info-circle"></i> Conocer Más</a>

                        <!-- Toggled Button Appearance-->

                        <%if(!user){ %>
                            <a href="/signup" class="download-btn"><i class="bi bi-person-plus"></i>
                                Registrarse
                            </a>
                            <%}%>

                                <%if(user){ %>
                                    <a href="/feed" class="download-btn"><i class="bi bi-search"></i>
                                        Ver Sueldos
                                    </a>
                                    <%}%>


                                        <!-- End Button Toggle-->
                    </div>
                </div>



                <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img"
                    data-aos="fade-up">
                    <img src="/imgs/hero-img.svg" class="img-fluid"
                        alt="Dos meseros de un restaurante. El mesero de la izquierda está tomando un pedido. El mesero de la derecha sostiene una bandeja.">
                </div>
            </div>
        </div>
    </section>
    <!-- ======= End Hero ======= -->

    <main id="main">
        <section id="details" class="details">
            <div class="container">

                <!-- ======= Section One ======= -->
                <div class="row content">
                    <div class="col-md-4" data-aos="fade-right">
                        <img src="/imgs/talking.svg" class="img-fluid"
                            alt="Una persona hablando y otras tres escuchando.">
                    </div>

                    <div class="col-md-8 pt-4" data-aos="fade-up">
                        <h3> Hay que hablar sobre los salarios en la industria de la hostelería </h3>

                        <ul>
                            <li><i class="bi bi-check"></i> La carga de trabajo y la remuneración son poco claras e incoherentes.

                            </li>

                            <li><i class="bi bi-check"></i> Cambiar de trabajo puede ser muy costoso.
                            </li>

                            <li><i class="bi bi-check"></i> Existen grandes diferencias salariales entre empresas y puestos.
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- ======= End Section One ======= -->



                <!-- ======= Section Two ======= -->
                <div class="row content">
                    <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                        <img src="/imgs/charts.svg" class="img-fluid" alt="Dos personas mirando gráficos y diagramas de barras">
                    </div>

                    <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                        <h3> La transparencia en los salarios es buena para todos</h3>


                        <p class="fst-italic">
                            "En general, la transparencia de los salarios ayuda a eliminar los problemas de información asimétrica que pueden contribuir a la brecha salarial de género, los problemas salariales raciales y el mercado laboral".
                        </p>


                        <ul>
                            <li><i class="bi bi-check"></i> Las mujeres que trabajan a tiempo completo en E.U <a
                                    href="https://www.census.gov/library/stories/2022/03/what-is-the-gender-wage-gap-in-your-state.html">siguen ganando sólo alrededor del 83% de lo que ganan los hombres.
                                </a>
                            </li>
                            <li><i class="bi bi-check"></i> Ahora hay más personas que
                                <a
                                    href="https://www.bankrate.com/banking/federal-reserve/younger-workers-sharing-salaries">
                                    comparten abiertamente </a> sus salarios con sus compañeros”.

                            </li>

                            <li><i class="bi bi-check"></i> <a
                                    href="https://pequity.com/blog/pay-transparency-in-2022-which-states-require-employers-to-provide-salary-ranges%EF%BF%BC/">
                                    Muchos estados </a> exigen ahora a los empresarios que compartan los datos sobre la remuneración.
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- ======= End Section Two ======= -->

                <!-- ======= Section Three ======= -->
                <div class="row content">
                    <div class="col-md-4" data-aos="fade-right">
                        <img src="/imgs/arrow.svg" class="img-fluid"
                            alt="Tres personas sosteniendo una flecha gráfica de negocios hacia arriba">
                    </div>

                    <div class="col-md-8 pt-4" data-aos="fade-up">
                        <h3> Beneficios para los trabajadores
                        </h3>
                        <ul>
                            <li><i class="bi bi-check"></i> <strong> Garantizar una remuneración justa                             
                            </strong></li>
                            <li> Cobrar por el trabajo que se realiza. Igual salario por igual trabajo. 
                            </li>
                            <li><i class="bi bi-check"></i> <strong> Te permite abogar por ti mismo
                                f </strong>
                            </li>
                            <li>
                                Ver lo que ganan los demás iguala las condiciones a la hora de pedir lo que quieres.

                            </li>
                            <li><i class="bi bi-check"></i> <strong> Te permite tomar decisiones financieras para ti y tu familia.
                            </strong></li>
                            <p> No perderás tiempo solicitando, entrevistando, haciendo prácticas y formándote antes de saber lo que vas a ganar.  </p>
                        </ul>
                    </div>
                </div>
                <!-- ======= End Section Three ======= -->

                <!-- =======  Section Four ======= -->
                <div class="row content">
                    <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                        <img src="/imgs/clipboard.svg" class="img-fluid" alt="Portapapeles con papel y marcas de verificación">

                    </div>

                    <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                        <h3>Beneficios para las empresas</h3>

                        <ul>
                            <li><i class="bi bi-check"></i> <strong>  Disminución de los gastos de contratación y formación
                            </strong>
                            </li>
                            <li>
                                No se perderá tiempo entrevistando a candidatos que no aceptarán un sueldo acorde con su presupuesto. Las personas nuevas para contratar pueden dejar su empresa si se enteran de que no van a ganar lo suficiente.
                            </li>
                            <li><i class="bi bi-check"></i> <strong> Aumento del rendimiento laboral de los empleados  
                            </strong></li>
                            <li> Se ha demostrado que la transparencia salarial tiene un efecto positivo en la satisfacción laboral, el compromiso de los empleados y la productividad.</li>
                            <li><i class="bi bi-check"></i> <strong> Reducción de los prejuicios salariales
                            </strong></li>
                            <p>Al compartir abiertamente la información salarial, es mucho más probable que las organizaciones corrijan cualquier desigualdad salarial y exploren las razones que la motivan..</p>
                        </ul>
                    </div>
                </div>
                <!-- ======= End Section Four ======= -->

                <!-- ======= Section Five ======= -->
                <div class="row content">
                    <div class="col-md-4" data-aos="fade-right">
                        <img src="/imgs/laptop.svg" class="img-fluid" alt="Persona tecleando en una laptop">
                    </div>

                    <div class="col-md-8 pt-5" data-aos="fade-up">
                        <h3>Comparte tu salario de forma anónima </h3>
                        <ul>
                            <li><i class="bi bi-check"></i> Tardas menos de 60 segundos en enviar la información de tu sueldo de forma anónima y ayudar a los demás.
                            </li>
                            <li><i class="bi bi-check"></i> Cada persona que comparte este tipo de información está haciendo su parte en la transformación de la industria de la hostelería.
                            </li>

                            <li><i class="bi bi-check"></i> Saber lo que cobran los demás permite que todos tengan la oportunidad de recibir un sueldo equitativo.

                            </li>
                            <li><i class="bi bi-check"></i> Actualmente tenemos <%= posts.length%> sueldos que han sido compartidos por personas como tú.
                                <a href="/signup"> Crea una cuenta  </a> para comprobarlo!

                            </li>
                        </ul>

                    </div>
                </div>
                <!-- ======= End Section Five ======= -->
            </div>
        </section>

        <!-- ======= Section Six ======= -->
        <span id="tscroll"></span>
        <section id="features" class="features pt-5">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
                        <div class="content d-flex flex-column justify-content-center">
                            <div class="row">

                                <h3>La incertidumbre en los sueldos es un gran problema en el sector de la hostelería, pero no tiene por qué serlo</h3>
                                <div class="col-md-6 icon-box" data-aos="fade-up">
                                    <i class="bi bi-clock"></i>
                                    <h4>Ahorra tiempo
                                    </h4>
                                    <p>No pierdas tu tiempo solicitando, entrevistando o haciendo un seguimiento antes de saber lo que vas a ganar.</p>
                                </div>

                                <!-- Icons -->
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                                    <i class="bi bi-cash-stack"></i>
                                    <h4> Reducir las diferencias salariales </h4>
                                    <p> Los estudios demuestran que la transparencia en los sueldos puede reducir las diferencias salariales</p>
                                </div>

                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                    <i class="bx bx-bar-chart-alt-2"></i>
                                    <h4>Comparar ofertas de trabajo</h4>
                                    <p> Saber lo que vas a ganar en el trabajo te permite planificar tu vida en el ámbito financiero
                                    </p>
                                </div>

                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                    <i class="bx bx-task"></i>
                                    <h4> Revisa sueldos verificados</h4>
                                    <p> Los salarios pueden presentarse con pruebas como comprobantes de pago u hojas de propina.</p>
                                </div>

                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                    <i class="bx bx-low-vision"></i>
                                    <h4>Comparte de manera anónima</h4>
                                    <p> Nunca te pediremos ni compartiremos tus datos personales. </p>
                                </div>

                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                                    <i class="bx 24 x 24 bx-donate-heart"></i>
                                    <h4>Ayuda a tu comunidad</h4>
                                    <p> Al compartir tu salario, estás ayudando a otros a tomar decisiones informadas </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2"
                        data-aos="fade-left" data-aos-delay="100">

                        <img src="/imgs/piggybank.svg" class="img-fluid"
                            alt="Una alcancía con monedas cayendo a su alrededor>
                    </div>
                </div>
            </div>
            <div class='d-flex justify-content-center'>

                <!-- View Salaries (If Logged In)-->
                <%if(user){ %>
                    <a href="/feed" class="download-btn"><i class="bi bi-search"></i>
                        Ver Salarios
                    </a>
                    <%}%>


            </div>
        </section>
        <!-- ======= End Section Six ======= -->

        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container pt-3" data-aos="fade-up">

                <div class="section-title">
                    <h2>Preguntas Frecuentes</h2>
                </div>

                <div class="accordion-list">
                    <ul>
                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                                data-bs-target="#accordion-list-1">¿Qué es la transparencia en el pago de los sueldos?
                                <i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                <p>
                                    La transparencia en el pago de los sueldos es la práctica de las empresas o individuos de compartir los detalles de la compensación para que sean visibles para otras personas.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#accordion-list-2" class="collapsed">¿Puede mi empresa prohibirme que comparta información sobre mi sueldo?
                                <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Por supuesto que no. Al menos en la mayoría de los casos. Es ilegal impedir que los empleados hablen de sus ofertas salariales y de beneficios. La Junta Nacional de Relaciones Laborales ha dejado claro que es un derecho de los trabajadores discutir los salarios. De hecho, muchos estados están aprobando leyes que obligan a los empresarios a publicar los rangos salariales. Comparte sólo con lo que te sientas cómodo compartiendo y revisa las leyes en donde vives.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#accordion-list-3" class="collapsed"> ¿Cuál es la exactitud de los salarios?
                                <i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Los salarios pueden presentarse de dos maneras: verificados o no verificados. Los salarios marcados como "verificados" se han enviado con información complementaria, como comprobantes de pago, W2 o depósitos bancarios. Dicho esto, los salarios son enviados de forma anónima por los usuarios y, por esa razón, existe la posibilidad de que sean modificados.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#accordion-list-4" class="collapsed"> ¿Cómo se evita que se publiquen salarios modificados?
                                <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    En primer lugar, esperamos que nadie haga esto. Este es un recurso para ayudar a todos. Si tenemos motivos para creer que un anuncio es falso, márcalo y nos pondremos en contacto con el usuario para obtener más información o eliminaremos el anuncio. 
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#accordion-list-5" class="collapsed">¿Es anónimo?
                                <i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    bread es 100% anónimo. La información de los sueldos que envíes puede sean modificados ligeramente para proteger tu identidad.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#accordion-list-6" class="collapsed">¿Cuánto tiempo se tarda en enviar la información de mis ganancias?
                                <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-6" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Puedes enviar la información de tus ingresos en menos de 60 segundos.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#accordion-list-7" class="collapsed"> ¿Cómo puedo enviar información de un salario verificado?
                                <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-7" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Para presentar un salario verificado, ve a la página Verify Your Salary (Verificar tu salario) y sube la información complementaria, como los W2, los comprobantes de pago o la hoja de propinas.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </section>
        <!-- End Frequently Asked Questions Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">

            <div class="container pt-4" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contacto</h2>
                    <p> ¿Quiere saber más? ¿Tiene ideas sobre cómo se puede mejorar? ¿Sólo quieres saludar?</p>
                </div>


                <form action="https://formsubmit.co/2132c172bc729286ba7d2c33efc1eb64" method="post"
                    class="contact-form">
                    <!-- Submission Email Subject-->
                    <input type="hidden" name="_subject" value="Bread: Contact Message">

                    <!-- Hide Captcha-->
                    <input type="hidden" name="_captcha" value="false">

                    <!-- Honeypot -->
                    <input type="text" name="_honey" style="display:none">

                    <!-- On Submission-->
                    <input type="hidden" name="_next" value="http://www.86bread.com/">

                    <div>
                        <div class="form-group">
                            <input placeholder="Your Name" type="text" name="name" class="form-control" id="name"
                                required>
                        </div>

                        <div class="form-group mt-3">
                            <input placeholder="Your Email" type="email" class="form-control" name="email" id="email"
                                required>
                        </div>

                        <div class="form-group mt-3">
                            <input placeholder="Subject" type="text" class="form-control" name="subject" id="subject"
                                required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea placeholder="Message" class="form-control" name="message" rows="5"
                                required></textarea>
                        </div>

                        <div class="text-center"><button type="submit">Manda un Mensaje</button></div>
                </form>
            </div>
        </section>
        <!-- End Contact Section -->

    </main>
    <!-- End #main -->

    <%- include('../partials/_footer') -%>