<%- include('../partials/ES/_header-bare') -%>

  <main class="container ">
    <div class="row justify-content-center">
      <section class="mt-5">
        <% if (locals.messages.errors) { %>
          <% messages.errors.forEach( el=> { %>
            <div class="alert alert-danger">
              <%= el.msg %>
            </div>
            <% }) %>
              <% } %>
                <% if (locals.messages.info) { %>
                  <% messages.info.forEach( el=> { %>
                    <div class="alert alert-info">
                      <%= el.msg %>
                    </div>
                    <% }) %>
                      <% } %>


                        <!-- Password Changed Successfully Sign In Below--> 
                        <% if (locals.messages.success) { %>
                          <div class="alert alert-success">
                            <span> ¡Se ha enviado un correo electrónico con un enlace para restablecer la contraseña!</span>
                          </div> 
                            <% } %>

                        <!-- Reset PW Form -->
                        <div class='text-center user-form'>
                          <div class='text-center'>
                            <a href="/es/"> <img src="/imgs/logo.png" class='form-logo' alt="Company Logo"></a>
                          </div>
                          
                          <form action="/es/passwordReset" method="POST" class="text-center member-form">
                                <div class="mb-3 auth-form">
                                    <label for="email" class="form-label">Correo Electrónico</label>
                                    <input type="email" class="form-control" id="email" placeholder="example@email.com"
                                      aria-describedby="email" name="email" autofocus />
                                  </div>

                                  <button type="submit" class="btn btn-form">Olvidaste Contraseña</button>
                
                            </form>
                         
                        </div>

                        <!-- End Rest PW Form -->
      </section>

    </div>
  </main>

  <%- include('../partials/ES/_footer-bare') -%>