<%- include('partials/_loggedInHeader') -%>
  <!-- <div class="container d-flex justify-content-center w-50 share"> -->
  <div class="container d-flex justify-content-center share">
    <div class="row mt-5">
      <div class="col-12">
        <div class="mt-5">
          <h1 class='post-header'>Comparte tu Salario</h1>

          <form action="/post/createPost" method="POST" class='mb-3'>
            <fieldset>
              <legend> ¿Dónde trabajas?</legend>
              <div class="mb-3">
                <label for="location" class="form-label">Dónde</label>
                <input autofocus type="text" class="form-control" id="location" name="location"
                  placeholder="New York, NY" required>
              </div>


              <div class="mb-3">
                <label for="type" class="form-label">Tipo de Establecimiento</label>
                <input type="'text" class="form-control" id="type" name="type" placeholder="Restaurant" required>
              </div>

              <div class="mb-3">
                <label for="name" class="form-label"> Nombre de la Empresa </label>
                <input type="text" class="form-control" id="name" name="name" placeholder="-" required>
              </div>
            </fieldset>

            <fieldset>
              <legend> ¿Cuánto ganas?</legend>
              <p> Nuestro objetivo es proporcionar la información más precisa. Al llenar los datos, omite los valores atípicos e intenta centrarte en los ingresos medios.
              </p>
             <p> Si no está seguro de cuánto gana, puede <a href="/profile">hacer un seguimiento de sus ganancias</a> durante algunas semanas y luego compartir sus resultados.</p>
                
              <div class="mb-3">
                <label for="title" class="form-label">Puesto de Trabajo</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Bartender" required>
              </div>
              <div class="mb-3">
                <label for="payType" class="form-label">Tipo de Pago</label>
                <div>
                  <select name="payType" id="payType" name='payType' required>
                    <option>-</option>
                    <option value="Hourly">Por hora</option>
                    <option value="Weekly">Semanal</option>
                    <option value="Annually">Anualmente</option>
                  </select>
                </div>
              </div>


              <div class="mb-3">
                <label for="base" class="form-label">Sueldo Base</label>
                <span> (<em>Después </em> del crédito de propina del empleador) $15/hora con $5 de propina deberían ser --$10/hora</span>
                <input type="string" class="form-control" id="base" name="base" placeholder="10" required>
              </div>

              <div class="mb-3">
                <label for="extraPay" class="form-label">Pagos Adicionales Ofrecidos 
                </label>
                <span>(Bonificación, salario, paga administrativa, etc.  <em>No se</em> incluyen las propinas)</span>
                <input type="text" class="form-control" id="extraPay" name="extraPay" placeholder="0">
              </div>

              <div class="mb-3">
                <label for="benefits" class="form-label">Beneficios Proporcionados por la Empresa</label>
                <input type="text" class="form-control" id="benefits" name="benefits"
                  placeholder="Health Benefits, Dental, 401k, Bonus">
              </div>


              <div class="mb-3">
                <label for="numShifts" class="form-label"># de Turnos Trabajados por Semana</label>
                <input type="string" class="form-control" id="numShifts" name="numShifts" placeholder="4" required>
              </div>

              <div class="mb-3">
                <label for="shiftLength" class="form-label">Duración Aproximada del Turno (horas)</label>
                <input type="text" class="form-control" id="shiftLength" name="shiftLength" placeholder="8-10" required>
              </div>

              <p> Promedio de propinas ganadas </p>

              <div class="mb-3">
                <label for="slowTips" class="form-label"> Turno Bajo</label>
                <input type="text" class="form-control" id="slowTips" name="slowTips" placeholder="0">
              </div>

              <div class="mb-3">
                <label for="busyTips" class="form-label"> Turno Ocupado</label>
                <input type="text" class="form-control" id="busyTips" name="busyTips" placeholder="0">
              </div>
           

              <div class="mb-3">
                <label for="cashTips" class="form-label"> ¿Recibes propinas en efectivo cada noche o en tu cheque de pago?
                </label>
                <div>
                  <select name="cashTips" id="cashTips" name="cashTips">
                    <option value='-'>-</option>
                    <option value="Cash">En Efectivo</option>
                    <option value="Paycheck">Cheque de Pago</option>
                  </select>
                </div>
              </div>
            </fieldset>

            <fieldset>
              <legend> Información Opcional </legend>

              <div class="mb-3">
                <label for="gender" class="form-label">Género</label>
                <input type="text" class="form-control" id="gender" name="gender">
              </div>

              <div class=" mb-3">
                <label for="ethnicity" class="form-label">Origen étnico</label>
                <input type="text" class="form-control" id="ethnicity" name="ethnicity">
              </div>

              <div class=" mb-3">
                <label for="age" class="form-label">Edad</label>
                <input type="text" class="form-control" id="age" name="age">
              </div>

              <div class=" mb-3">
                <label for="orientation" class="form-label">Orientación Sexual</label>
                <input type="text" class="form-control" id="orientation" name="orientation">
              </div>

              <div class=" mb-3">
                <label for="sameShifts" class="form-label">¿Trabajas los mismos turnos cada semana?
                </label>
                <div>
                  <select name="sameShifts" id="sameShifts">
                    <option value='-'>-</option>
                    <option value="Yes">Si</option>
                    <option value="No">No</option>
                  </select>
                </div>
              </div>

              <div class=" mb-3">
                <label for="fullTips" class="form-label">¿Los nuevos empleados reciben las propinas completas?
                </label>
                <div>
                  <select name="fullTips" id="fullTips">
                    <option value='-'>-</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
              </div>

              <div class=" mb-3">
                <label for="poolHouse" class="form-label">¿Tu establecimiento es una casa de apuestas o se queda con tus propias propinas?
                </label>
                <div>
                  <select name="poolHouse" id="poolHouse">
                    <option value='-'>-</option>
                    <option value="Yes">Agrupación de Propinas
                    </option>
                    <option value="No">Conservas tus Propinas</option>
                  </select>
                </div>
              </div>

              <div class=" mb-3">
                <label for="overTime" class="form-label">¿Tu empleador te permite trabajar horas extras?
                </label>
                <div>
                  <select name="overTime" id="overTime">
                    <option value='-'>-</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
              </div>

              <div class=" mb-3">
                <label for="breaks" class="form-label">¿Puedes tomar descansos en el trabajo? 
                </label>
                <div>
                  <select name="breaks" id="breaks">
                    <option value='-'>-</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
              </div>

              <div class=" mb-3">
                <label for="familyMeal" class="form-label">¿Se le proporciona la comida al personal?
                </label>
                <div>
                  <select name="familyMeal" id="familyMeal">
                    <option value='-'>-</option>
                    <option value="Yes (for free)">Sí (gratis)</option>
                    <option value="Yes (at a cost)">Sí (con costo)</option>
                    <option value="No">No</option>
                  </select>
                </div>
              </div>

              <div class=" mb-3">
                <label for="comments" class="form-label">Comentarios Adicionales
                </label>
                <textarea class="form-control" id="comments" name="comments"> </textarea>
              </div>

            </fieldset>

            <button type="submit" class="btn btn-form btn-save" value="Upload">Enviar</button>




          </form>
        </div>
      </div>

    </div>
  </div>
  </div>
  </div>
  <%- include('partials/_loggedInFooter') -%>